<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Dashboard </title>
    <link href="bootstrap/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet" crossorigin="anonymous">

    <style>

    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <a class="navbarBrand" href="#">
                    <img src="/images/logo.png" alt="logo" width="100%">
                </a>
                <!-- <a class="sharelink" href="javascript:void(0)"> Share </a> -->

                <div class="pb-2">
                    <ul class="nav flex-column" id="fileslist">

                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 ps-4 pt-2">
                <iframe name="htmlViewer" frameborder="0" width="100%" style="height: Calc( 100vh - 18px);"></iframe>
            </main>
        </div>
    </div>

    <script src="/js/auth.js"> </script>
    <script src="/js/api.js"> </script>

    <script>
        const user = getuser();
        var fileslistRef = document.getElementById('fileslist');
        var navItem = document.getElementsByClassName('navItem');
        var files = [];

        function makeItActivaFirstOne() {
            if (navItem.length != 0) {
                navItem[0].classList.add('active');
                selectedFolder = navItem[0].innerText;
                navItem[0].children[0].click();
            }
        }

        function makeItActive(element) {
            var navItem = document.getElementsByClassName('navItem')
            for (i = 0; i < navItem.length; i++) {
                navItem[i].classList.remove('active');
            }
            element.classList.add('active');
        }

        window.addEventListener('load', async () => {
            getFilesOfFolders();
        })

        async function getFilesOfFolders() {
            const folders = user.folders;
            files = await getFilesFromFolders(folders);
            fileslistRef.innerHTML = "";
            files.forEach((item) => {
                fileslistRef.innerHTML += `<li class="nav-item navItem w-100" onClick="makeItActive(this)">
                            <a class="nav-link navLink" target="htmlViewer" href="/uploads/${item.folderName}/${item.fileName}">
                                ${item.fileName}
                            </a>
                        </li>`
            });
            makeItActivaFirstOne();
        }
    </script>



    <script src="bootstrap/popper.min.js" crossorigin="anonymous"></script>
    <script src="bootstrap/bootstrap.min.js" crossorigin="anonymous"></script>

</body>

</html>