<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Dashboard </title>
    <link href="bootstrap/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <!-- <script>
          const files =  "<%= files %>"
          console.log("files", files)
        </script> -->

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .feather {
            width: 16px;
            height: 16px;
            vertical-align: text-bottom;
        }

        .sidebar {
            position: fixed;
            top: 62px;
            bottom: 0;
            left: 0;
            z-index: 100;
            padding: 8px 0 0;
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
            overflow-y: auto;
            overflow-x: hidden;
            width: 280px !important;
            min-width: 280px !important;
            max-width: 280px !important;
            /* height: Calc(100vh - 123px); */
        }

        @media (max-width: 767.98px) {
            .sidebar {
                top: 5rem;
            }
        }

        .sidebar-sticky {
            position: relative;
            top: 0;
            height: calc(100vh - 48px);
            padding-top: .5rem;
            overflow-x: hidden;
            overflow-y: auto;
        }

        .sidebar .nav-link {
            font-weight: 500;
            color: #333;
        }

        .sidebar .nav-link .feather {
            margin-right: 4px;
            color: #727272;
        }

        .sidebar .nav-link.active {
            color: #2470dc;
        }

        .sidebar .nav-link:hover .feather,
        .sidebar .nav-link.active .feather {
            color: inherit;
        }

        .sidebar-heading {
            font-size: .75rem;
            text-transform: uppercase;
        }

        .navbar-brand {
            padding-top: .75rem;
            padding-bottom: .75rem;
        }

        .navbar .navbar-toggler {
            top: .25rem;
            right: 1rem;
        }

        .navbar .form-control {
            padding: .75rem 1rem;
            border-width: 0;
            border-radius: 0;
        }

        .form-control-dark {
            color: #fff;
            background-color: rgba(255, 255, 255, .1);
            border-color: rgba(255, 255, 255, .1);
        }

        .form-control-dark:focus {
            border-color: transparent;
            box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
        }

        .navLink {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .navItem:hover {
            background-color: #dbeacb;
        }

        .active {
            background: #dbeacb;
        }

        .navbarBrand {
            position: fixed;
            top: 0;
            left: 0;
            background-color: #e8e8e8;
            width: 280px !important;
            min-width: 280px !important;
            max-width: 280px !important;
            height: 62px;
        }

        /* .sharelink {
            position: fixed;
            bottom: 0;
            left: 0;
            background-color: #e8e8e8;
            width: 280px !important;
            min-width: 280px !important;
            max-width: 280px !important;
            height: 62px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            font-size: 25px;
        } */

        .navbarBrand {
            position: fixed;
            top: 0;
            left: 0;
            background-color: #e8e8e8;
            width: 280px !important;
            min-width: 280px !important;
            max-width: 280px !important;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <a class="navbarBrand" href="#">
                    <img src="/images/logo.png" alt="logo" width="100%">
                </a>
                <!-- <a class="sharelink" href="javascript:void(0)"> Share </a> -->

                <div class="pb-2">
                    <ul class="nav flex-column">
                        <% files && files.forEach((file, index)=>{%>
                        <li class="nav-item navItem w-100" onClick="makeItActive(this)">
                            <a class="nav-link navLink" target="htmlViewer" href="/uploads/<%- file -%>">
                                <span data-feather="home"></span>
                                <%= file %>
                            </a>
                        </li>
                        <%});%>
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-2 pt-2">
                <iframe name="htmlViewer" frameborder="0" width="100%" style="height: Calc( 100vh - 18px);"></iframe>
            </main>
        </div>
    </div>

    <script>
        function makeItActive(element) {
            var navItem = document.getElementsByClassName('navItem')
            for (i = 0; i < navItem.length; i++) {
                navItem[i].classList.remove('active');
            }
            element.classList.add('active');
        }
    </script>

    <script src="/js/auth.js"> </script>
    
    <script src="bootstrap/popper.min.js" crossorigin="anonymous"></script>
    <script src="bootstrap/bootstrap.min.js" crossorigin="anonymous"></script>

</body>

</html>